gdal
netCDF4
rasterio
rasterstats
jupyter
jupyterlab
ipywidgets
nodejs
mystmd
jupyterlab-myst
jupyter-book>=2
jupytext
webp
numpy
scipy
pandas
geopandas
statsmodels
matplotlib
plotly
scikit-learn
SALib
plotly
tabulate
Py6S
radiative-transfer-models
pyTSEB
meteo_utils
python-dms
model_evaluation@git+https://github.com/hectornieto/model_evaluation
fluxnet_helpers@git+https://github.com/hectornieto/fluxnet-helpers 
senet_toolbox@git+https://github.com/DHI/Sen-ET-OpenEO-toolbox.git
